@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --color-main: #444654
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-main);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 50px;
    font-weight: 700;
    
}
#title-form{
    display: flex;
    align-items: center;
    margin-block: 30px;
    background-color: #333;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 15px;

}

.title-form-input{
    margin-inline: 10px;
    border-radius: 5px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.1rem;
    padding: 10px;
   
}
.language-picker-container{
  display: flex;
align-items: center;
 

}
#language-picker{
  width:100px;
    margin-inline: 10px;
    border-radius: 5px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.1rem;
    padding: 10px;
   
}

/* Button transitions */



button{
  cursor: pointer;
}

#generate-btn{
    background-color: #11AD59;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    
    
    padding: 10px;
}
#generate-btn:hover{
  background-color: #186e40;
}

.my-books-label{
  color: rgb(192, 189, 189);
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
  }
  @keyframes fadeIn {
    from {
      opacity: 0.0;
      transform: translateY(20px);
      scale: 0.6;
    }
    to {
      scale: 1;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card {
    height: 200px;
    width: 150px;
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    word-wrap: break-word;
    border-radius: 5px;
    border: solid 5px rgb(195, 193, 193);
    animation: fadeIn 0.3s ease-out;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /* Modal animation */
@keyframes modalIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes modalOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50%);
    opacity: 0;
  }
}

.modal-out {
  animation: modalOut 0.5s forwards;
}




  
  .modal-content {
    animation: modalIn 0.5s;
    background-color: rgb(51, 55, 58);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
    color: rgb(255, 255, 255);
    
        word-wrap: break-word; /* Break words if needed to fit the container width */
        white-space: pre-wrap; /* Preserve white-space and line breaks */
        line-height: 1.5; /* Apply line-height for better readability */
        max-width: 500px; /* Optional: Set a max-width for the container */
   
  }
  #book-title{
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .modal-buttons button:hover {
    background-color: #ddd;
  }

  #delete-btn{
    background-color: rgb(197, 30, 30);
    color: white;
  }
  #delete-btn:hover{
    background-color: rgb(179, 99, 99);
    color: white;
  }

  @keyframes bouncedelay {
    0%, 80%, 100% { transform: scale(0); }
    40% { transform: scale(1.0); }
  }
 /* Spinner animation */
@keyframes spinnerIn {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.spinner {
  animation: spinnerIn 0.5s;
  display: none;
}
  .dots {
    margin: 10px auto;
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    text-align: center;

  }
  
  .spinner div {
    width: 8px;
    height: 8px;
    background-color: #8e8c8c;
  
    border-radius: 100%;
    display: inline-block;
    animation: bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .dot1 {
    animation-delay: -0.32s;
  }
  
  .spinner .dot2 {
    animation-delay: -0.16s;
  }



  
  /* Add your existing CSS styles here */

/* Media queries for mobile responsiveness */

@media (max-width: 768px) {
  .header {
    font-size: 2rem;
  }

  #title-form {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }
  .language-picker-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
   
    margin-bottom: 10px;
  }


  .title-form-input {
    margin-inline: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  #generate-btn {
    width: 100%;
  }



  .modal-content {
    width: 90%;
    margin: 10% auto;
  }
}


@media (max-width: 480px) {
  .header {
    font-size: 1.5rem;
  }

  .title-form-input {
    font-size: 1rem;
  }

  #generate-btn {
    font-size: 0.9rem;
  }
}
